CSE_URL=http://<CSE_IP>:8080
CSE_BASE=cse-in
PROVISIONING_AE=AE_Provisioning
AE_NAME=AE_Proxmox_Monitor
AE_ORIGIN=Cae-proxmox-monitor
ONEM2M_RELEASE=4

PROXMOX_HOST=https://<PROXMOX_NODE_IP>:8006
PROXMOX_NODE=sdei-mm02
PROXMOX_TOKEN_ID=<PROXMOX_TOKEN_ID>
PROXMOX_TOKEN_SECRET=<PROXMOX_TOKEN_SECRET>
PROXMOX_VERIFY_SSL=false
PROXMOX_TEMPLATE_STORAGE=local
PROXMOX_ROOTFS_STORAGE=local-lvm

POLL_INTERVAL_SECONDS=5
CLAIM_SETTLE_SECONDS=2
RESULT_IP_TIMEOUT_SECONDS=120
TASK_TIMEOUT_SECONDS=300
STATE_FILE=/root/ae-python/state.json

CT_SWAP_MB=512
CT_UNPRIVILEGED=true
CT_ONBOOT=true
CT_START_AFTER_CREATE=true
CT_FEATURES=nesting=1
CT_DEFAULT_PASSWORD=<CT_DEFAULT_PASSWORD>
